@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Italic.woff2') format('woff2'),
        url('Nunito-Italic.woff') format('woff'),
        url('Nunito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Bold.woff2') format('woff2'),
        url('Nunito-Bold.woff') format('woff'),
        url('Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-ExtraLight.woff2') format('woff2'),
        url('Nunito-ExtraLight.woff') format('woff'),
        url('Nunito-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-BoldItalic.woff2') format('woff2'),
        url('Nunito-BoldItalic.woff') format('woff'),
        url('Nunito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-SemiBoldItalic.woff2') format('woff2'),
        url('Nunito-SemiBoldItalic.woff') format('woff'),
        url('Nunito-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-SemiBold.woff2') format('woff2'),
        url('Nunito-SemiBold.woff') format('woff'),
        url('Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff'),
        url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-ExtraLightItalic.woff2') format('woff2'),
        url('Nunito-ExtraLightItalic.woff') format('woff'),
        url('Nunito-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

