/* Global Css  */
img {
  max-width: 100%;
}
a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-700;
}

/* Active Link Sidebar  */
.my-sidebar-class .my-menu-class .router-link-active > * {
  @apply text-neutral-900;
  @apply font-bold;
  @apply bg-primary-200;
}

.my-header-main .router-link-active > span {
  @apply text-white;
  @apply bg-primary-500;
}
/* Scroll Css  */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-neutral-200;
}
/* Select Css  */
.my-select-dropdown::-webkit-scrollbar-track {
  border-radius: 8px;
  @apply bg-transparent;
}
.my-select-dropdown::-webkit-scrollbar {
  width: 8px;
  @apply bg-transparent;
}
.my-select-dropdown::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  @apply bg-neutral-200;
}

/* Animation Transition Vue  */
/* Fade  */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* Slide Fade  */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-15px);
  opacity: 0;
}
/* List Transition  */
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease-in-out;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(50%);
}

.list-leave-to {
  opacity: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}
/* Loading */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
