@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-primary;
    @apply text-base;
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5,
  h6 {
    @apply text-sm;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .my-paragraph-box h1 {
    @apply mt-6;
    @apply mb-4;
  }

  .my-paragraph-box h2 {
    @apply mt-5;
    @apply mb-3;
  }

  .my-paragraph-box h3 {
    @apply mt-4;
    @apply mb-2;
  }

  .my-paragraph-box h4 {
    @apply mt-3;
    @apply mb-1;
  }

  .my-paragraph-box h5,
  .my-paragraph-box h6 {
    @apply mt-2;
  }

  .my-paragraph-box p {
    @apply indent-4;
    @apply mb-1;
  }

  .my-paragraph-box ul {
    @apply list-disc;
    @apply list-inside;
    @apply mb-4;
  }
}
