@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-ExtraLight.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-ExtraLightItalic.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-ExtraLightItalic.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Regular.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-Italic.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Italic.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-SemiBold.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-SemiBoldItalic.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-SemiBoldItalic.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Bold.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:
    url('@/assets/fonts/Nunito/Nunito-BoldItalic.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-BoldItalic.woff') format('woff'),
    url('@/assets/fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
